*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blue;
    height: 100hv;
    
}


.container {
width: 100vw;
height: 100vh;
background: #6C7A89;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.box {
    
width: 500px;
height: 350px;
background: #fff;
border-radius: 30px;
box-shadow: 0px 2px 10px 5px rgba(0, 0, 255, 0.211);
}
h1{
    justify-content: center;
    padding: 50px 4%;
    text-align: center;
}

h2{
    padding: 20px 4%;
    justify-content: center;
    text-align: center;
    color: rgba(0, 0, 255, 0.575);
    font-size: 20px;
}
a{
    text-align: center;
    
}
.contato{
    padding: 60px 4%;
    text-align: center;
}
button{
      padding: 20px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(73, 5, 137);
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    transition: .2s;
    color: aliceblue;
}
button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(70, 7, 159, 0.33);
}

@media screen and (max-width:570px) {
    .box {
      
        width: 380px;
        right: 250px;
    }
    .container { 
     
width: 100%;
height: 100vh;
background: #6C7A89;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

}

